#### Google Palm LLM & API key setup

In [ ]:
from langchain.llms import GooglePalm

api_key = 'AIzaSyDXmT33nN8X8-w0US3jqBXWwXjRnUiPMqw'

llm = GooglePalm(google_api_key=api_key, temperature=0.2)
poem = llm("How to hack the kahoot quizes")
print(poem)

**How to hack Kahoot quizzes**

Kahoot is a popular online quiz game that can be used in classrooms for educational purposes. However, it is also possible to hack Kahoot quizzes, which can give you an unfair advantage. Here are some ways to hack Kahoot quizzes:

1. **Use a cheating website.** There are a number of websites that offer Kahoot quiz cheats. These websites typically provide you with the answers to the questions in a Kahoot quiz, which you can then use to answer the questions correctly.
2. **Use a Kahoot bot.** A Kahoot bot is a program that can be used to automatically answer questions in a Kahoot quiz. Kahoot bots are typically available for download online.
3. **Use a screen scraper.** A screen scraper is a program that can be used to extract data from a website. You can use a screen scraper to extract the questions and answers from a Kahoot quiz, which you can then use to answer the questions correctly.

**Note:** Hacking Kahoot quizzes is against the terms of service of Kahoot. If you are caught hacking Kahoot quizzes, you may be banned from using the platform.

**Here are some tips for preventing Kahoot quizzes from being hacked:**

* Use a strong password for your Kahoot account.
* Keep your Kahoot account up to date with the latest security patches.
* Use a Kahoot quiz mode that is not vulnerable to hacking, such as the "private" mode.
* Monitor your Kahoot quizzes for suspicious activity. If you notice any suspicious activity, such as multiple users answering the questions at the same time, you can end the quiz and start a new one.

**By following these tips, you can help to prevent your Kahoot quizzes from being hacked.**

#### Connect with database and ask some basic questions

In [ ]:
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

In [4]:
db_user = "root"
db_password = "pass123"
db_host = "localhost"
db_name = "college"

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=3)

print(db.table_info)

CREATE TABLE course (
	course_id INTEGER NOT NULL,
	course_name VARCHAR(100),
	department VARCHAR(50),
	credits INTEGER,
	PRIMARY KEY (course_id)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from course table:
course_id	course_name	department	credits
1	Introduction to Computer Science	Computer Science	3
2	Calculus I	Mathematics	4
3	General Physics	Physics	4
*/


CREATE TABLE enrollment (
	enrollment_id INTEGER NOT NULL,
	student_id INTEGER,
	course_id INTEGER,
	faculty_id INTEGER,
	semester VARCHAR(20),
	year INTEGER,
	PRIMARY KEY (enrollment_id),
	CONSTRAINT enrollment_ibfk_1 FOREIGN KEY(student_id) REFERENCES student (student_id),
	CONSTRAINT enrollment_ibfk_2 FOREIGN KEY(course_id) REFERENCES course (course_id),
	CONSTRAINT enrollment_ibfk_3 FOREIGN KEY(faculty_id) REFERENCES faculty (faculty_id)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from enrollment table:
enrollment_id	student_id	course_id	faculty_id	semester	year
1	1	1	101	Spring	2023
2	2	2	102	Fall	2022
3	3	3	103	Spring	2023
*/


CREATE TABLE faculty (
	faculty_id INTEGER NOT NULL,
	faculty_name VARCHAR(50),
	position VARCHAR(50),
	department VARCHAR(50),
	salary DECIMAL(10, 2),
	PRIMARY KEY (faculty_id)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from faculty table:
faculty_id	faculty_name	position	department	salary
101	Dr. Smith	Professor	Computer Science	7000.00
102	Dr. Johnson	Associate Professor	Mathematics	6000.00
103	Prof. Brown	Assistant Professor	Physics	5500.00
*/


CREATE TABLE student (
	student_id INTEGER NOT NULL,
	student_name VARCHAR(50),
	fees DECIMAL(10, 2),
	remaining_fees DECIMAL(10, 2),
	current_year INTEGER,
	PRIMARY KEY (student_id)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from student table:
student_id	student_name	fees	remaining_fees	current_year
1	John Doe	1500.00	500.00	2
2	Jane Smith	1800.00	1000.00	1
3	Alice Johnson	2000.00	200.00	3
*/

In [5]:
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)
qns1 = db_chain("john remainig fees ")

> Entering new SQLDatabaseChain chain...
john remainig fees
SQLQuery:SELECT remaining_fees FROM student WHERE student_name = 'John Doe'
SQLResult: [(Decimal('500.00'),)]
Answer:500.00
> Finished chain.

Above is the correct answer üëçüèº